/* .container {
  width: 70%; 
  position: absolute; 
  left: 50%; 
  transform: translateX(-50%);
  background-color: lightblue;
  padding: 20px;
} */
.container{
  background-color: aquamarine;
  width: 70%;
  margin:0px auto;
}